@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    font-family: 'Poiret One';
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poiret One' !important;
    opacity: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    background: rgb(34, 32, 43);
    /* background-image: url(../assets/bg_img.jpg); */
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    display: flex;
    flex-direction: column;
    opacity:80%;
    position: fixed;
    margin: 1%;
    width: 5%;
    height: 80%;
    justify-content: space-around;
}
.nav-list-item{
    display: flex;  
    justify-content: center;
    margin: 5%;
}
.nav-list-item img {
    /* height: 40dp;
    width: 40dp; */
    display: inline-block;
    color: #919191;
    width: 100%;
    height: 60px;           
    line-height: 60px;     
    overflow: hidden;
    
}
.container1{
    margin: 5% 5% 5% 8%;
    background-color: rgba(46, 46, 46, 0.212);
    padding: 15px;
    /* opacity: 20%; */
    color: white;
    border: solid gray 1px;
    border-radius: 1vh;
}
